* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: Nordic;
    src: url("./fonts/Norse-Bold.otf");
}

body {
    overflow: hidden;
}

.content {
    display: flex;
    background-color: #baf6ff;
}

.image {
    background-image: url("./photos/nathan-hobbs-qmWqUl8Uvsc-unsplash.jpg");
    background-size: cover;
    width: 30vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    color: white;
}

.banner {
    display: flex;
    justify-content: center;
    background-color: black;
    opacity: .8;
    margin-top: 200px;
    padding: 10px;
    font-family: Nordic;
    font-size: 100px;
}

.image img {
    height: 100px;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: sans-serif;
    padding-left: 50px;
    font-size: larger;
}

.formBox {
    display: flex;
    flex-direction: row;
}

.formLeft {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

.formRight {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 20px;
    background-color: #fffefe;
}

label {
    font-size: small;
}

.photographer {
    margin-bottom: 10px;
}

a {
    color: white;
}