.content {
    display: flex;
    /* border: black 1px solid; */
    /* justify-content: stretch; */
}

.image {
}

.image img {
    width: 100%;
    height: 100%;
}

.text {
    /* border: black 1px solid; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}