* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: Nordic;
    src: url("./fonts/Norse-Bold.otf");
}

body {
    overflow: hidden;
}

.content {
    display: flex;
    background-color: #baf6ff;
}

.image {
    background-image: url("./photos/nathan-hobbs-qmWqUl8Uvsc-unsplash.jpg");
    background-size: cover;
    width: 30vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    color: white;
}

.banner {
    display: flex;
    justify-content: center;
    background-color: black;
    opacity: .8;
    margin-top: 200px;
    padding: 10px;
    font-family: Nordic;
    font-size: 100px;
}

.image img {
    height: 100px;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: sans-serif;
    font-size: larger;
    padding: 75px 0px;
}

.italics {
    font-style: italic;
}

.formBox {
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 75px 50px;
}

form {
    box-shadow: 0px 5px 5px rgb(0, 0, 0, .5);
    width: 75vw;
}

.formLeft {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.formRight {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 20px;
    background-color: #fffefe;
    padding: 5px 10px;
    border-radius: 5px;
    width: 150px;
}

.invalid {
    border-color: red;
}

label {
    font-size: x-small;
    font-weight: bold;
}

.photographer {
    margin-bottom: 10px;
}

.photographer a {
    color: white;
}

.statement, .createAccount {
    margin-right: 300px;
    padding-left: 50px;
}

.statement {
    margin-bottom: 60px;
}

.createAccount {
    margin-top: 50px;
}

button {
    height: 40px;
    width: 200px;
    color: white;
    background-color: #285a73;
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
}

button:hover {
    background-color: #4295bf;
}

.passwordMismatch {
    color: red;
    font-size: small;
    
}

.hidden {
    display: none;
}